---
import PrimaryButton from "../Buttons/PrimaryButton.vue";
import SecondaryButton from "../Buttons/SecondaryButton.vue";
---

<div class="flex gap-5 justify-center mt-10">
  <PrimaryButton text="Projekte" href="#projects" icon="diagram-project" />
  <SecondaryButton text="Über Mich" href="/about-me" icon="user" />
</div>
