---
import Terminal from "./Terminal.astro";
import Socials from "./Socials.astro";
import CtaButtons from "./CtaButtons.astro";
import { BackgroundImage } from "astro-imagetools/components";
---

<BackgroundImage src="/img/server_room_hero_bg.jpg">
  <div class="py-5 bg-gradient-to-b from-transparent to-dark-color">
    <Terminal />
    <CtaButtons />
  </div>
</BackgroundImage>
<Socials />
