---
import PrimaryButton from "../components/Buttons/PrimaryButton.vue";
import SecondaryButton from "../components/Buttons/SecondaryButton.vue";
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Headings/Heading.vue";
import Paragraph from "../components/Paragraph.vue";
import Section from "../components/Section.vue";
import TechStackSection from "../components/TechStack/TechStackSection.vue";
import ExperienceSection from "../components/Experience/ExperienceSection.vue";
import Wrapper from "../components/Wrapper.vue";
---

<Layout
  title="Pascal Kraupner - Full Stack Web Developer | About me"
  pageUrl="https://www.pascalkraupner.dev/about-me"
>
  <Wrapper>
    <Heading level={1} size={1} cursor={true} text="Über mich" />
    <Section id="about-me">
      <div class="flex justify-center flex-wrap gap-x-20 mt-20">
        <div class="">
          <img src="/img/avatar.jpg" class="rounded-md" />
          <div class="flex gap-x-4 mt-4">
            <PrimaryButton
              text="Erfahrung"
              href="#experience"
              icon="briefcase"
              propClass="w-1/2"
            />
            <SecondaryButton
              text="Kontakt"
              href="mailto:mail@pascalkraupner.dev"
              icon="envelope"
              propClass="w-1/2"
            />
          </div>
        </div>
        <Paragraph
          class="mb-20 mt-20 xl:mt-0 md:w-10/12 xl:w-1/2 mx-auto text-base md:text-lg leading-6 md:leading-8 "
        >
          Hallo! 👋 <br />Ich bin Pascal Kraupner, ein Full-Stack Entwickler mit
          über 6 Jahren Erfahrung.
          <br />
          <br />
          Ursprünglich begann ich einfache Websites mit dem LAMP-Stack zu entwickeln,
          um dann in die moderne Webentwicklung einzutauchen und mich auf mein bevorzugtes
          Duo von Laravel und Vue.js zu konzentrieren. <br />
          Mit diesen robusten Frameworks habe ich solide Webanwendungen entwickelt.
          <br />
          <br /> Doch meine Neugier und Offenheit für neue Technologien lassen mich
          kontinuierlich meinen Horizont erweitern. <br /> In letzter Zeit habe ich
          verstärkt meine Aufmerksamkeit auf React, TypeScript und andere auf JavaScript
          basierte Stacks gerichtet.
          <br />
          <br />
          Zusätzlich interessiere ich mich zunehmend für Sprachen wie Go und Rust
          und deren Potenzial in der Welt der Backend-Webentwicklung.
          <br />
          <br />
          Ich bin davon überzeugt, dass sauberer Code, durchdachte Architektur und
          kontinuierliche Integration die Grundpfeiler sind, um maßgeschneiderte
          Software von höchster Qualität zu liefern.
          <br /><br /> Meine Leidenschaft besteht darin, stets neue Wege und Möglichkeiten
          zu finden, um diese Standards zu verbessern und wartbare, innovative und
          stabile Softwarelösungen zu entwickeln.
        </Paragraph>
      </div>
    </Section>
    <ExperienceSection />
    <TechStackSection client:load />
  </Wrapper>
</Layout>
