---
let currentYear = new Date().getFullYear();
---

<footer
  class="mt-auto border-default border-t flex flex-col text-sm relative w-full left-0 bottom-0"
>
  <div class="bg-secondary w-full  px-16">
    <div class="border-b my-4 flex items-center pb-2">
      <span class="text-xl md:text-3xl flex-1"> Socials</span>
      <div class="flex gap-4 flex-1">
        <a
          href="https://www.linkedin.com/in/pascal-kraupner-022b5322b/"
          target="_blank"
          ><i class="fa-brands fa-linkedin-in text-xl md:text-3xl"></i>
        </a>
        <a href="https://github.com/PascalKraupner" target="_blank"
          ><i class="fa-brands fa-github text-xl md:text-3xl"></i>
        </a>
        <a href="https://twitter.com/pkdotcodes" target="_blank"
          ><i class="fa-brands fa-x-twitter text-xl md:text-3xl"></i>
        </a>
        <a href="mailto:mail@pascalkraupner.dev"
          ><i class="fas fa-envelope text-xl md:text-3xl"></i>
        </a>
      </div>
    </div>

    <div class="flex flex-col mb-6">
      <a href="/imprint">Impressum</a>
      <a href="/privacy">Datenschutz</a>
    </div>
  </div>
  <div class="py-4">
    <p class="text-center">&copy; 2023 - {currentYear} Pascal Kraupner</p>
  </div>
</footer>
