---
let currentYear = new Date().getFullYear();
---

<footer
  class="mt-auto bg-secondary border-default border-t h-14 flex flex-col justify-center items-center text-sm relative w-full left-0 bottom-0"
>
  <div>
    <p>&copy; Pascal Kraupner {currentYear}</p>
  </div>
  <div>
    <a href="/imprint">Impressum</a> |
    <a href="/privacy">Datenschutz</a>
  </div>
</footer>
